@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.viewport {
  display: flex;
  flex-flow: column nowrap;
  width: clamp(320px, 100vw, 800px);
  height: 568px;
  margin: 100px auto;
}

/* Accessibility */

.a11y,
.counter-btn::before,
.help-btn::before {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Product */

.product-container img {
  width: 100%;
}

.price-container {
  border-bottom: 1px solid #dee0e3;
  padding-bottom: 13px;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.price-before {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.price-sale {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.discount-rate {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #6b90dc;
}

.price {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price-origin {
  text-decoration: line-through;
  color: #999999;
}

/* Delivery */

.delivery-container {
  border-bottom: 1px solid #dee0e3;
  padding-bottom: 13px;
  margin: 14px 0;
  display: block;
}

.delivery-method {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #333333;
}

.delivery-method::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: #dee0e3;
}

.delivery-box {
  margin-bottom: 7px;
}

.delivery-charge {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #333333;
}

.payment-way {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #6b90dc;
  margin-bottom: 5px;
  margin-left: 3px;
}

.cost-quantity {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #999999;
}

/* CounterButton */

.counter-container {
  border-bottom: 1px solid #dee0e3;
  padding-bottom: 14px;
}

.counter {
  display: flex;
  width: 102px;
  height: 34px;
  border: 1px solid #dee0e3;
}

.counter-btn {
  width: 34px;
  height: 34px;
  border: none;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}

.minus::before {
  content: "수량빼기버튼";
}

.plus::before {
  content: "수량더하기버튼";
}

.counter-btn:hover {
  background-color: #f5f5f5;
}

.counter-btn:active {
  background-color: #e5e5e5;
}

.counter-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  border-left: 1px solid #dee0e3;
  border-right: 1px solid #dee0e3;
}

/* Total */

.total-container {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.total-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #333333;
}

.help-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 11px;
  background-color: white;
  color: #333333;
  border: 1.5px solid #dee0e3;
  cursor: pointer;
  /* outline: #dee0e3; */
}

.help-btn::before {
  content: "도움말버튼";
}

.help-btn:hover {
  color: #dee0e3;
}

.help-btn:active {
  color: #dee0e3;
}

.total-left {
  display: flex;
  align-items: center;
  gap: 3px;
}

.total-right {
  display: flex;
  align-items: center;
}

.total-quantity {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #999999;
}

.total-quantity::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: #dee0e3;
}

.total-price {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #6b90dc;
  display: flex;
  align-items: center;
}

/* PurchaseButton */

.purchase-btn {
  all: unset;
  margin-top: 14px;
  width: 100%;
}

.purchase-btn img {
  width: 100%;
}
